@media only screen and (max-device-width: 1024px) {

}

@media only screen and (max-device-width: 900px) {
}

@media only screen and (max-device-width: 800px) {
    .results {
        width: 95%;
    }
}

@media only screen and (max-device-width: 600px) {
}

@media only screen and (max-device-width: 500px) {

    .results-item {
        margin-bottom: 10px;
    }

    .left, .left img {
        width: 100px;
        height: auto;
    }

    .item-title {
        font-size: 1rem;
    }

    .item-overview {
        display: none;
    }
}

@media only screen and (max-device-width: 420px) {
}
@media only screen and (max-device-width: 400px) {
}

@media only screen and (max-device-width: 360px) {
}

@media only screen and (max-device-width: 320px) {
}
