@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');



/* UNIVERSAL RESET */


* {
    vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}







/* GENERAL */


html, body {
    background: #101010;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #181818; 
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43); 
}







/* HEADER & MENU */


#navbar {
    transition: 0.2s ease all;
}

.header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 0;
    margin: 0 auto;
    border-bottom: 1px solid rgb(27, 27, 27);
    top: 0;
    z-index: 5;
}

.header .container {
    display: block;
    margin: auto;
}

.branding {
    position: relative;
    display: inline-block;
    color: #3de23d;
    font-size: 20px;
    text-transform: uppercase;
    top: 5px;
}

.word {
    color: white;
    font-size: 14px;
}

.branding:hover {
    text-decoration: none;
    color: #3de23d;
}

.list-inline {
    margin: 0;
}

.list-inline-item {
    position: relative;
    top: -2px;
    margin-right: 0;
}

.list-inline-item a {
    padding-bottom: inherit;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    transition: 0.2s ease-in-out;
}

#menu {
    width: auto;
    padding: 10px 0;
    float: right;
}

.menu a:hover {
    color: #3de23d;
    text-decoration: none;
}

.menu-selected {
    color: #3de23d !important;
}

.search-area {
    position: relative;
    display: none;
    margin: auto;
}

#searchbox {
    position: relative;
    width: 500px;
    left: 230px;
    color: white;
    background: none;
    display: inline-block;
    padding: 10px 0;
    padding-left: 40px;
    font-size: 14px;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
}

.search-icon {
    position: absolute;
    left: 240px;
    top: 14px;
    font-size: 14px;
    color: #888;
    cursor: default;
}

.close-search {
    position: absolute;
    color: #888;
    font-size: 30px;
    right: 300px;
    top: -5px;
    transition: 0.2s ease all;
    cursor: pointer;
}

.close-search:hover {
    color: white;
}

.search {
    color: #888;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.2s ease all;
}

.search:hover {
    color: #b9b9b9;
}

::-webkit-input-placeholder {
    color: #888888;
    font-weight: 500;
}

#searchbox:focus::-webkit-input-placeholder {
    opacity: 0;
}







/* HOME CHARTS */


.container {
    margin-top: 25px;
}

.charts {
    display: block;
    width: 100%;
    margin: 80px auto 20px auto;
    padding: 0;
    color: rgb(224, 224, 224);
}

.charts-poster {
    width: 120px;
    height: auto;
}

#charts-item {
    display: inline-block;
    width: 280px;
    height: auto;
    margin: 2px;
}

.charts-header {
    margin-left: 12px;
}

.charts-header span {
    margin-left: -10px;
}

.trending, .now-playing, .upcoming {
    display: block;
    width: auto;
    margin: 0;
    margin-bottom: 20px;
}

.charts ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#charts-star {
    position: relative;
    left: 10px;
    color: #3de23d;
    font-size: 20px;
}

.charts span {
    position: relative;
    display: inline-block;
    left: 20px;
    font-size: 20px;
}

.charts-title {
    position: absolute;
    top: 0;
    left: 120px;
    font-size: 16px;
    margin: 2px 10px;
}

.charts-score {
    position: absolute;
    bottom: 0;
    left: 115px;
    margin: 5px;
}

.charts ul li {
    position: relative;
    display: inline-block;
    height: 170px;
    width: 255px;
    background: #1c1c1c;
    color: white;
    margin: 10px;
    border-radius: 3px;
    transition: 0.2s ease all;
}

.charts ul li:hover {
    transform: scale(0.98);
}

.charts ul li a:nth-child(2) {
    position: absolute;
    display: block;
    top: 0;
    left: 115px;
    color: rgb(209, 209, 209);
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.charts ul li a:nth-child(2):hover {
    color: #2cbe2c;
    text-decoration: none;
}

.charts-poster {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#charts-star, .charts-score span {
    font-size: 14px;
}

.charts-more {
    margin: 20px 0 20px 5px;
    color: white;
}

.charts-more:hover {
    color: white;
    text-decoration: none;
}








/* CHART LISTS */


.chart-list {
    display: block;
    width: 100%;
    margin: auto;
}

.chart-list h4 {
    color: rgb(220, 220, 220);
}

.chart-list ul {
    display: block;
    list-style-type: none;
    width: 75%;
    margin: 5% auto;
    margin-bottom: 20px;
    padding: 0;
}

#charts-list-item {
    position: relative;
    display: inline-block;
    width: 280px;
    height: auto;
    background: #1c1c1c;
    margin: 2px;
    border-radius: 2px;
    transition: 0.2s ease all;
}

#charts-list-item:hover {
    transform: scale(0.98);
}

.charts-list-poster {
    width: 120px;
    height: auto;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.charts-list-title {
    position: absolute;
    color: white;
    top: 0;
    left: 120px;
    margin: 2px 10px;
}

.charts-list-score {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 115px;
    margin: 5px;
    font-size: 14px;
}

.charts-list-score span {
    display: inline-block;
}

#charts-list-star {
    position: relative;
    left: 10px;
    margin-right: 20px;
    color: #3de23d;
    font-size: 14px;
}

.page-nav {
    width: 75%;
    margin: auto;
}







/* MOVIE/TV INFO */


.details {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: none;
    height: auto;
    margin: 0;
    padding: 0;
    top: 20px;
    z-index: 0;
}

.backdrop {
    position: absolute;
    width: 100vw;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backdrop-image {
    height: inherit;
    width: auto;
    zoom: 70%;
    margin: 0;
    left: -500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backdrop-film {
    position: absolute;
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.top-details {
    position: absolute;
    display: block;
    height: 450px;
    top: 30px;
    left: 230px;
    background: none;
    z-index: 1;
}

.details-left {
    position: relative;
    width: 300px;
    height: inherit;
    left: -25px;
    z-index: 2;
    float: left;
}

.img-responsive {
    box-shadow: 1px 1px 5px black;
    border-radius: 1px;
    height: inherit;
    width: auto;
    z-index: 1;
}

#person-profile {
    object-fit: cover;
    height: 400px;
    width: 266px;
}

.details-right {
    position: absolute;
    left: 320px;
    float: right;
    height: inherit;
    width: 68%;
    z-index: 1;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    z-index: 1;
    margin-bottom: 10px;
}

.date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(131, 131, 131);
    text-shadow: 2px 2px 5px black;
}

.seasons {
    display: inline-block;
    background: rgb(20, 20, 20);
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    border: 1.5px solid rgb(143, 143, 143);
    color: white;
    outline: none;
}

.seasons option {
    outline: none;
}

#air-date {
    display: block;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score {
    display: inline-block;
    color: 3de23d;
    text-shadow: 1px 1px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 5px;
}

.score i {
    color: #3de23d;
    font-size: 0.75em;
    margin-right: 10px;
}

#score-number {
    display: inline-block;
}

.vote-count {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 0 7px 3px 7px;
    margin-left: 8px;
    margin-top: 10px;
}

.selected-vote-count {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #3de23daf;
    border-radius: 7px;
}

.genres {
    position: relative;
    display: inline;
    top: -3px;
    left: 100px;
}

.genres li {
    display: inline-block;
    list-style-type: none;
    color: rgb(206, 206, 206);
    text-shadow: 2px 2px 5px black;
    font-size: 18px;
    padding: 0 10px;
}

.genres li:not(:last-child) {
    border-right: 1px solid rgb(131, 131, 131);
}

.overview {
    color: white;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.crew {
    position: absolute;
    display: block;
    margin-top: 20px;
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
}

.crew div {
    position: relative;
    display: block;
    padding-right: 20px;
    top: 0;
}

.crew-title {
    display: inline;
    font-weight: 600;
}

.top-crew-name {
    display: inline;
    padding-left: 0;
    padding-right: 10px;
    margin: 0;
}

.top-crew-name a {
    list-style-type: none;
    color: white;
}








/* MOVIE/TV IMAGES & VIDEOS */


.images {
    overflow: hidden;
    margin-top: 530px;
    z-index: 1;
}

.images-header {
    top: 100px;
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
}

.images ul {
    display: flex;
    padding-left: 0;
    overflow-x: scroll;
}

.images ul::-webkit-scrollbar, .videos ul::-webkit-scrollbar {
    height: 5px;
}

.images ul::-webkit-scrollbar-track, .videos ul::-webkit-scrollbar-track {
    border-radius: 5px;
}

.images ul::-webkit-scrollbar-thumb, .videos ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.images li {
    padding: 2px;
    list-style-type: none;
}

.images li img {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.603);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease all;
}

.images li img:hover {
    transform: scale(0.98, 0.98);
}

.videos-header {
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
}

.videos {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    z-index: 1;
}

.videos p {
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
}

.videos ul {
    display: flex;
    padding-left: 0;
    overflow-x: scroll;
}

.videos li {
    padding: 2px;
    list-style-type: none;
}

.videos li iframe {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.603);
    border-radius: 3px;
    transition: 0.2s ease all;
}

.videos li iframe:hover {
    transform: scale(0.98, 0.98);
}

.bottom-details {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.error-message {
    color: #999;
    font-weight: 100;
}








/* MODAL */


.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.842);
    transition: 0.2s ease all;
}

.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 1200px;
    z-index: 10;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: 400;
    transition: 0.2s ease all;
}

.close:hover {
    color: white;
}

.slides {
    display: none;
}

.slides img {
    display: block;
    margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(175, 175, 175);
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 10;
}

.prev:hover, .next:hover {
    color: white;
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
    border-radius: 3px 0 0 3px;
}

img.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}








/* CAST */


.cast-list {
    color: rgb(224, 224, 224);
    top: 10px;
    padding: 0;
    margin-bottom: 30px;
}

.cast-header {
    margin-left: 40px;
}

.cast-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.4em;
    margin-left: 40px;
}

.cast-list li {
    display: table-cell;
    width: 130px;
    height: auto;
    color: rgb(212, 212, 212);
    background: #1c1c1c;
    margin: 5px;
}

.cast-list li a img {
    width: 100%;
    height: auto;
}

.cast-list li a {
    text-decoration: none;
}

.actor {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 0 10px;
    color: white;
}

.character {
    font-size: 14px;
    padding: 0 10px;
}

.full-cast-link {
    margin-left: 40px;
}

.reviews {
    position: relative;
    display: block;
    color: rgb(224, 224, 224);
}
.reviews ul {
    position: relative;
}

.author {
    position: relative;
    display: inline;
    background: black;
    color: white;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.author:hover {
    color: #3de23d;
    text-decoration: none;
}

.content {
    position: relative;
    display: block;
    padding: 20px;
    top: -5px;
}








/* REVIEWS & RECOMMENDATIONS */


.reviews ul {
    padding: 0;
}

.reviews ul li {
    position: relative;
    display: block;
    background: rgb(24, 24, 24);
    margin-bottom: 20px;
    list-style-type: none;
}

.reviews ul li div {
    position: relative;
    display: block;
    background: black;
    padding: 10px;
}

.recommendations {
    position: relative;
}

.recommendations-header {
    color: rgb(224, 224, 224);
    font-weight: 400;
}

.recommendations ul {
    display: flex;
    flex-direction: row;
    position: inline;
    padding-left: 0;
    overflow-x: scroll;
}

.recommendations ul::-webkit-scrollbar {
    height: 5px;
}

.recommendations ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.recommendations ul::-webkit-scrollbar-track {
    border-radius: 5px;
}

.recommendations li {
    padding: 2px;
    height: 230px;
    list-style-type: none;
    margin-bottom: 5px;
    text-shadow: none;
    transition: 0.2s ease all;
}

.recommendations li:hover {
    transform: scale(0.98, 0.98);
}

.recommendations li a:hover {
    text-decoration: none;
}

.recommendations li div {
    position: relative;
    padding: 5px;
    background: #1c1c1c;
    color: white;
    text-shadow: none;
    overflow: hidden;
    border-radius: 3px;
}

.recommendations li img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.recommendations li p {
    margin: 0;
}

.vote-average {
    color: #3de23d;
    padding-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.vote-count {
    color: #a5a5a5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recommend-star {
    color: #3de23d;
    padding-right: 2px;
}

.recommend-rating {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3de23d;
    font-weight: 500;
}

.recommend-votes {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a5a5a5;
}

.recommendations li div span {
    margin-left: 5px;
}









/* SEARCH */


.results {
    margin-top: 80px;
}

.query {
    color: white;
}

.results ul {
    margin-top: 20px;
}

.results-item {
    position: relative;
    height: 300px;
    margin-bottom: 20px;
    background: #1c1c1c;
    color: rgb(228, 228, 228);
    list-style-type: none;
    text-overflow: ellipsis;
    border-radius: 3px;
}

.right, .left {
    display: inline-block;
}

.results-poster {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.item-title {
    color: rgb(226, 226, 226);
    font-size: 25px;
    font-weight: 600;
    padding: 15px 20px;
    top: 0;
}

.item-title:hover {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

.item-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(131, 131, 131);
}

#results-star i {
    color: #3de23d;
    font-size: 1.5em;
    margin-right: 10px;
}

.item-score {
    display: inline-block;
    color: #3de23d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-left: 15px;
}

.item-overview {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-nav {
    display: flex;
    margin-bottom: 20px;
}

.page-nav p {
    margin-right: 10px;
    color: white;
}

.page-nav a {
    margin-right: 10px;
}









/* PEOPLE */


.people-list {
    text-align: center;
    width: 80%;
    margin: 100px auto;
}

.people-list a:hover {
    text-decoration: none;
}

.person {
    display: inline-block;
    margin: 10px;
    transition: 0.2s ease all;
}

.person:hover {
    transform: scale(0.98);
}

.person img {
    border-radius: 2px;
}

.person p {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin: 5px auto;
}









/* PERSON */


.person-details {
    display: flex;
    width: 65%;
    margin: 100px auto;
    margin-bottom: 0;
    color: white;
}

.info-left {
    display: inline-block;
}

.info-right {
    display: inline-block;
    margin: 50px;
    margin-top: 0;
}

.birthday {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 10px;
}

.deathday {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.external-ids {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    text-align: center;
}

.external-ids .id {
    display: inline;
    margin: 0 5px;
}

.external-ids .id a {
    color: white;
    font-size: 24px;
    transition: 0.2s ease all;
}

.external-ids .id a:hover {
    color: rgb(200, 200, 200);
}

.featured {
    width: 80%;
    height: auto;
}

.featured-header {
    color: rgb(224, 224, 224);
    font-weight: 400;
}

.featured ul {
    display: flex;
    flex-direction: row;
    position: inline;
    padding-left: 0;
    overflow-x: scroll;
}

.featured ul::-webkit-scrollbar {
    height: 5px;
}

.fatured ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.featured ul::-webkit-scrollbar-track {
    border-radius: 5px;
}

.featured-object {
    padding: 2px;
    height: 230px;
    list-style-type: none;
    margin-bottom: 5px;
    text-shadow: none;
    transition: 0.2s ease all;
}

.featured-object:hover {
    transform: scale(0.98, 0.98);
}

.featured-object a:hover {
    text-decoration: none;
}

.featured-object div {
    position: relative;
    padding: 5px;
    background: #1c1c1c;
    color: white;
    text-shadow: none;
    overflow: hidden;
    border-radius: 3px;
}

.featured-object img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.featured-object div a:hover {
    text-decoration: none;
}

.featured-object p {
    margin: 0;
}

.vote-count {
    color: #a5a5a5;
}

.featured-star {
    color: #3de23d;
    padding-right: 2px;
}

.object-rating {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3de23d;
    font-weight: 500;
}

.object-votes {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #a5a5a5;
}









/* CREDITS PAGE */


.credits-header {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    color: #999;
}

.credits-header div {
    display: inline-block;
}

.credits-poster {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.credits-title {
    font-size: 20px;
    display: inline;
}

.credits-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 5px;
}

.credits-head {
    font-size: 30px;
}

.credits-name {
    color: #999;
    font-weight: 600;
    list-style-type: none;
    margin-bottom: 10px;
}

.credits-person-name {
    width: 60px;
}

.credits-job-title {
    color: #999;
    margin-left: 5px;
}

.credits-crew-person {
    list-style-type: none;
}

.credits-person {
    list-style-type: none;
    height: 100px;
}

.credits-person a {
    height: inherit;
}

.credits-person div {
    display: inline-block;
    height: inherit;
    padding: 10px;
}

.cast-and-crew {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.credits-cast {
    width: 100%;
    margin: auto;
}

.credits-cast li {
    display: inline-block;
    color: rgb(212, 212, 212);
    background: #1c1c1c;
    width: 45%;
    margin: 3px;
}

.credits-cast li img {
    width: auto;
    height: inherit;
}

.crew-name {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
}

.character-name {
    display: block;
}

.credits-director, .credits-writers, .credits-cast, .credits-section {
    margin-bottom: 30px;
}








/* FOOTER */


.footer {
    color: rgb(184, 184, 184);
    font-weight: 100;
    font-size: 12px;
    background: black;
    padding: 10px;
    text-align: center;
}

.footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

