@media only screen and (max-device-width: 800px) {
    .credits-header,
    .cast-and-crew {
        width: 80%;
    }

    .credits-cast {
        width: 100%;
    }

    .credits-cast li {
        width: 48%;
    }

    .credits-person {
        width: inherit;
        height: inherit;
    }

    .credits-person a img {
        width: 80px;
        height: auto;
    }
}

@media only screen and (max-device-width: 600px) {
    .credits-header,
    .cast-and-crew {
        width: 95%;
    }
}

@media only screen and (max-device-width: 500px) {
    .credits-cast li {
        width: 100%;
    }
}
