@media only screen and (max-device-width: 1440px) {

    .cast-list li {
        width: 13%;
    }

    .cast-list li a img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-device-width: 1024px) {

    .genres {
        display: inline-block;
        left: 0;
        top: 5px;
    }

    .bottom-details {
        width: 90%;
        padding-bottom: 50px;
    }

    .cast-list li {
        width: 13%;
    }

    .cast-list li a img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-device-width: 900px) {

    .top-details {
        width: 90%;
    }

    .details {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 20px;
    }

    .backdrop {
        min-height: 2000px;
    }

    .images, .videos {
        width: 95%;
    }

    .bottom-details {
        width: 95%;
        margin: auto;
    }

    .overview {
        height: inherit;
    }

    .cast-list {
        margin-top: 50px;
    }

    .cast-list li {
        width: 22%;
    }

    .cast-list li a img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-device-width: 600px) {

    .top-details {
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    .details-left {
        margin: 30px auto;
    }

    .details-right {
        width: 100%;
    }

    .title {
        text-align: center;
        font-size: 2.2rem;
    }

    .date {
        font-size: 24px;
    }

    .genres li {
        font-size: 16px;
    }

    .overview {
        height: auto;
        font-size: 16px;
    }

    .reviews {
        width: 100%;
    }

    .content {
        font-size: 14px;
    }
}

@media only screen and (max-device-width: 425px) {

    .top-details {
        margin-top: 50px;
    }

    .details-right {
        width: 95%;
        margin: auto;
    }

    .genres {
        display: block;
    }

    .bottom-details {
        margin-top: 20px;
    }

    .cast-list {
        padding: 0;
        margin-top: 0;
    }

    .cast-header {
        margin: 0;
        margin-bottom: 10px;
    }

    .cast-list ul {
        margin: auto;
        margin-bottom: 10px;
    }

    .cast-list li {
        width: 47%;
    }

    .cast-list li a img {
        width: 100%;
        height: auto;
    }

}


@media only screen and (max-device-width: 320px) {

    .top-details {
        margin-top: 80px;
    }

    .details-left {
        width: 80%;
        text-align: center;
        margin: 10px auto;
    }

    .title {
        font-size: 1.8rem;
    }

    .cast-list li {
        width: 45%;
    }
} 
