

/* MEDIA QUERIES */


@media only screen and (max-device-width: 1024px) { 

    html, body {
        width: 100%;
    }

    .search-area {
        width: 50%;
    }

    #searchbox {
        left: 0;
        width: 100%;
    }

    .search-icon {
        left: 10px;
    }

    .close-search {
        right: -20px;
    }

    .charts {
        display: block;
        margin: 80px auto;
    }

    .trending, .now-playing, .upcoming {
        width: auto;
        margin-bottom: 50px;
    }

    .charts-header span {
        font-size: 24px;
    }

    .charts-poster {
        width: 120px;
        height: auto;
    }

    #charts-item {
        display: inline-block;
        width: 300px;
        height: inherit;
    }

    .charts-title {
        position: absolute;
        display: inline-block;
        font-size: 16px;
        top: 0;
    }

    .charts-score {
        position: absolute;
        display: inline-block;
        margin: 0;
        padding: 5px 0;
        z-index: 1;
    }

    #charts-star, .charts-score span {
        font-size: 14px;
    }

}

@media only screen and (max-device-width: 900px) {

    html, body {
        width: 100%;
    }

    #branding {
        float: left;
    }
    
    .menu {
        float: right;
    }

    .charts {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .trending, .now-playing, .upcoming {
        width: auto;
        height: auto;
        margin: auto;
        margin-top: 60px;
    }

    .trending ul, .now-playing ul, .upcoming ul {
        display: inline-block;
        height: auto;
        width: auto;
        margin: auto;
    }

    .charts-header {
        display: block;
        margin-left: 12px;
    }

    .charts-poster {
        width: 150px;
        height: auto;
    }

    .charts-title {
        position: absolute;
        display: inline-block;
        font-size: 16px;
        left: 150px;
    }

    .charts-score {
        position: absolute;
        display: inline-block;
        left: 150px;
        margin: 0;
        padding: 5px 0;
        z-index: 1;
    }

    #charts-star, .charts-score span {
        font-size: 14px;
    }

    #charts-item {
        width: 49%;
        height: auto;
    }

}



@media only screen and (max-device-width: 800px) { 

    html, body {
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }

    #branding {
        display: block;
        text-align: center;
    }

    .search-area {
        width: 70%;
    }

    #searchbox {
        left: 0;
        width: 100%;
    }

    .search-icon {
        left: 10px;
    }

    .close-search {
        right: -20px;
    }

    .charts {
        margin: auto;
        margin-top: 70px;
    }

    .charts-header span {
        font-size: 22px;
    }

    #charts-item {
        width: 49%;
        height: auto;
    }

    .charts-poster {
        width: 130px;
        height: auto;
    }

    .charts-title {
        position: absolute;
        display: inline-block;
        font-size: 16px;
        top: 0;
        left: 127px;
    }

    .charts-score {
        position: absolute;
        display: inline-block;
        left: 127px;
    }

    #charts-star, .charts-score span {
        font-size: 14px;
    }

}

@media only screen and (max-device-width: 600px) {

    .charts {
        width: 100%;
        margin: 0;
    }

    .trending ul, .now_playing ul, .upcoming ul {
        width: 100%;
    }

}

@media only screen and (max-device-width: 500px) { 

    html, body {
        width: 100%;
    }

    #menu {
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }

    #branding {
        float: none;
        text-align: center;
    }

    .search-area {
        width: 70%;
    }

    #searchbox {
        left: 0;
        width: 100%;
    }

    .search-icon {
        left: 10px;
    }

    .close-search {
        right: -20px;
    }

    .charts {
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }

    .trending, .now-playing, .upcoming {
        height: auto;
        margin: auto;
        margin-bottom: 40px;
    }

    .charts-header {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .charts-header i {
        font-size: 20px;
    }

    .charts-header span {
        font-size: 40px;
    }

    .charts-poster {
        width: 100%;
    }

    #charts-item {
        height: auto;
        width: 49%;
    }

    .charts-title {
        display: none;
    }

    .charts-score {
        position: relative;
        display: block;
        left: 0;
    }

    #charts-star, .charts-score span {
        font-size: 18px;
    }

    .charts-more {
        margin-top: 10px;
        font-size: 18px;
    }

}

@media only screen and (max-device-width: 420px) {

    .charts {
        margin: auto;
        margin-top: 100px;
    }

    .charts-header span {
        font-size: 20px;
    }

    .charts-poster {
        width: 100%;
        height: auto;
    }

    #charts-item {
        width: 49%;
    }

}

@media only screen and (max-device-width: 400px) {

    html, body {
        width: 100%;
    }

    .container {
        display: inline-block;
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }
    
    #branding {
        display: block;
        text-align: center;
    }

    .search-area {
        width: 70%;
        left: 0;
        margin: auto;
    }

    #searchbox {
        left: 0;
        width: 100%;
        margin: auto;
    }

    .search-icon {
        left: 10px;
    }

    .close-search {
        right: -20px;
    }

    .charts {
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }

    .trending, .now_playing, .upcoming {
        margin: auto;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .trending ul, .now-playing ul, .upcoming ul {
        display: inline-block;
        height: auto;
        margin: auto;
    }

    .charts-header {
        display: block;
        margin-left: 12px;
    }

    .charts-poster {
        width: 100%;
        height: auto;
    }

    .charts-title {
        display: none;
        font-size: 20px;
        top: 225px;
    }

    .charts-score {
        display: block;
        padding: 5px 0;
        z-index: 1;
    }

    #charts-star, .charts-score span {
        font-size: 15px;
    }

    #charts-item {
        display: inline-block;
        height: auto;
        width: 48.8%;
    }

}

@media only screen and (max-device-width: 360px) {

    .charts-poster {
        width: 100%;
        height: auto;
    }

    #charts-item {
        width: 48.5%;
        height: auto;
    }

}

@media only screen and (max-device-width: 320px) {

    .trending, .now_playing, .upcoming {
        margin: auto;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .charts-poster {
        width: 100%;
        height: auto;
    }

    #charts-item {
        display: inline-block;
        width: 48.5%;
        height: auto;
    }

    #charts-star, .charts-score span {
        font-size: 12px;
    }

}