/* MEDIA QUERIES */

@media only screen and (max-device-width: 1024px) {
    html,
    body {
        width: 100%;
    }

    .charts {
        margin: 80px auto;
    }

    .trending,
    .now-playing,
    .upcoming {
        width: auto;
        margin: auto;
        margin-bottom: 50px;
    }

    .charts-header span {
        font-size: 24px;
    }
}

@media only screen and (max-device-width: 900px) {
    html,
    body {
        width: 100%;
    }

    .charts {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .trending,
    .now-playing,
    .upcoming {
        margin-top: 60px;
    }

    .trending ul,
    .now-playing ul,
    .upcoming ul {
        margin: auto;
    }

    .charts-header {
        display: block;
        margin-left: 12px;
    }
}

@media only screen and (max-device-width: 800px) {
    html,
    body {
        width: 100%;
    }

    .charts {
        margin: auto;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .charts-header span {
        font-size: 22px;
    }
}

@media only screen and (max-device-width: 600px) {
    .charts {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-device-width: 500px) {
    html,
    body {
        width: 100%;
    }

    .charts {
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }

    .trending,
    .now-playing,
    .upcoming {
        height: auto;
        margin: auto;
        margin-bottom: 40px;
    }

    .charts-header {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .charts-header i {
        font-size: 20px;
    }
}

@media only screen and (max-device-width: 420px) {
    .charts {
        margin: auto;
        margin-top: 100px;
    }
}

@media only screen and (max-device-width: 320px) {
}
