@media only screen and (max-device-width: 800px) {
    .results {
        width: 95%;
    }
}

@media only screen and (max-device-width: 500px) {

    .results-item {
        margin-bottom: 10px;
    }

    .left, .left img {
        width: 100px;
        height: auto;
    }

    .item-title {
        font-size: 1rem;
    }

    .item-overview {
        display: none;
    }
}