@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800");

/* UNIVERSAL RESET */

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* GENERAL */

html,
body {
    background: #f3f3f3;
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
    viewport-fit: cover;
}

::-webkit-scrollbar {
    background: black;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f3f3f300;
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
}




/* HOME CHARTS */

.charts {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 80px auto 20px auto;
    padding: 0;
}

.charts-poster {
    width: 180px;
    height: auto;
}

#charts-item {
    height: auto;
    margin: 2px;
}

.charts-header {
    margin-left: 20px;
    font-size: 1.2rem;
}

.charts-header span {
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.trending,
.now-playing,
.upcoming {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;
}

.upcoming div {
    position: relative;
    left: 20px;
}

.charts ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

#charts-star {
    position: relative;
    left: 10px;
    color: #3de23d;
    text-shadow: #181818;
    font-size: 20px;
}

.charts span {
    position: relative;
    display: inline-block;
    left: 20px;
    font-size: 20px;
}

.charts-title {
    position: absolute;
    color: black;
    top: 0;
    left: 120px;
    font-size: 16px;
    margin: 2px 10px;
}

.charts ul li {
    position: relative;
    display: inline-block;
    background: #ffffff;
    color: black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.233);
    margin: 10px;
    border-radius: 3px;
    transition: 0.2s ease;
}

.charts ul li:hover {
    transform: scale(0.98);
}

.charts ul li a:nth-child(2) {
    position: absolute;
    display: block;
    top: 0;
    left: 115px;
    color: rgb(209, 209, 209);
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease;
}

.charts ul li a:nth-child(2):hover {
    color: #2cbe2c;
    text-decoration: none;
}

.charts-poster {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.charts-more {
    position: relative;
    top: 10px;
    font-size: 1.2rem;
    margin: 20px 10px 20px 10px;
    text-decoration: none;
    color: black;
}

.charts-more:hover {
    text-decoration: none;
}

/* CHART LISTS */

.chart-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}

#charts-list-item {
    list-style-type: none;
    width: 180px;
    margin: 2px;
    border-radius: 2px;
    transition: 0.2s ease;
}

#charts-list-item:hover {
    transform: scale(0.98);
}

.charts-list-poster {
    width: 180px;
    height: auto;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.charts-list-title {
    position: absolute;
    color: white;
    top: 0;
    left: 120px;
    margin: 2px 10px;
}

.charts-list-score {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 115px;
    margin: 5px;
    font-size: 14px;
}

.charts-list-score span {
    display: inline-block;
}

#charts-list-star {
    position: relative;
    left: 10px;
    margin-right: 20px;
    color: #3de23d;
    font-size: 14px;
}

/* MOVIE/TV INFO */

.details {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1000px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.backdrop {
    position: absolute;
    width: 100vw;
    height: 1000px;
    margin: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.backdrop-film {
    position: absolute;
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    z-index: 1;
}

.top-details {
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 70px;
    height: auto;
    z-index: 2;
}

.details-left {
    width: 300px;
}

.img-responsive {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.459);
    border-radius: 1px;
    width: inherit;
    height: auto;
}

#person-profile {
    object-fit: cover;
    height: 400px;
    width: 266px;
}

.details-right {
    margin-left: 40px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    z-index: 1;
    margin-bottom: 10px;
}

.date {
    font-family: "Segoe UI", sans-serif;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(131, 131, 131);
    text-shadow: 2px 2px 5px black;
}

.seasons {
    display: inline-block;
    background: rgb(20, 20, 20);
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    border: 1.5px solid rgb(143, 143, 143);
    color: white;
    outline: none;
}

.seasons option {
    outline: none;
}

#air-date {
    display: block;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: "Segoe UI", sans-serif;
}

.score {
    display: inline-block;
    color: #3de23d;
    text-shadow: 1px 1px 2px black;
    font-family: "Segoe UI", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 5px;
}

.score i {
    color: #3de23d;
    font-size: 0.75em;
    margin-right: 10px;
}

#score-number {
    display: inline-block;
}

.vote-count {
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    color: black;
    padding: 0 7px 3px 7px;
    margin-left: 8px;
    margin-top: 10px;
}

.selected-vote-count {
    position: relative;
    display: inline;
    font-weight: 200;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #3de23daf;
    border-radius: 6px;
    bottom: 4px;
}

.genres {
    position: relative;
    display: inline;
    top: -3px;
    left: 5px;
}

.genres li {
    display: inline-block;
    list-style-type: none;
    color: rgb(206, 206, 206);
    text-shadow: 2px 2px 5px black;
    font-size: 18px;
    padding: 0 10px;
}

.genres li:not(:last-child) {
    border-right: 1px solid rgb(131, 131, 131);
}

.overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    color: white;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 2px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.crew {
    display: block;
    margin-top: 20px;
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
}

.crew div {
    display: block;
    padding-right: 20px;
    margin-top: 10px;
}

.crew-title {
    display: inline;
    font-weight: 600;
}

.top-crew-name {
    display: inline;
    padding-left: 0;
    padding-right: 10px;
    margin: 0;
}

.top-crew-name a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.top-crew-name a:hover {
    color: lightGrey;
}

/* MOVIE/TV IMAGES & VIDEOS */

.images {
    display: block;
    width: 75%;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    z-index: 1;
}

.images-header {
    color: white;
    margin: 5px 0;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
}

.images ul {
    display: flex;
    padding-left: 0;
    overflow-x: scroll;
}

.images ul::-webkit-scrollbar,
.videos ul::-webkit-scrollbar {
    height: 5px;
    background: none;
}

.images ul::-webkit-scrollbar-track,
.videos ul::-webkit-scrollbar-track {
    border-radius: 5px;
    background: none;
}

.images ul::-webkit-scrollbar-thumb,
.videos ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.images li {
    padding: 2px;
    list-style-type: none;
}

.images li img {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.603);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
}

.images li img:hover {
    transform: scale(0.98, 0.98);
}

.videos-header {
    color: white;
    width: 75%;
    margin: 5px 0;
    font-weight: 400;
    text-shadow: 2px 2px 5px black;
}

.videos {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    z-index: 1;
}

.videos p {
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
}

.videos ul {
    display: flex;
    padding-left: 0;
    overflow-x: scroll;
}

.videos li {
    padding: 2px;
    list-style-type: none;
}

.videos li iframe {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.603);
    border-radius: 3px;
    transition: 0.2s ease;
}

.videos li iframe:hover {
    transform: scale(0.98, 0.98);
}

.bottom-details {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.error-message {
    color: white;
    font-weight: 100;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.842);
    transition: 0.2s ease;
}

.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 1200px;
    z-index: 10;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: 400;
    transition: 0.2s ease;
}

.close:hover {
    color: white;
}

.slides {
    display: none;
}

.slides img {
    display: block;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(175, 175, 175);
    font-weight: bold;
    font-size: 20px;
    transition: 0.2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.prev:hover,
.next:hover {
    color: white;
}

.prev {
    left: -50px;
}

.next {
    right: -50px;
    border-radius: 3px 0 0 3px;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CAST */

.cast-list {
    top: 10px;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
}

.cast-header {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.cast-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}

.cast-list li {
    list-style-type: none;
    width: 11.5%;
    height: auto;
    background: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.274);
    margin: 5px;
}

.cast-list li a img {
    width: 100%;
    height: auto;
}

.cast-list li a {
    text-decoration: none;
}

.actor {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px 0 10px;
}

.character {
    font-size: 14px;
    padding: 10px;
}

.full-cast-link {
    position: relative;
    color: blueviolet;
    top: 10px;
    text-decoration: none;
}

.reviews {
    display: block;
}

.reviews-header {
    margin: 10px 0;
    font-size: 1.4rem;
}

.reviews-source {
    margin-bottom: 10px;
}

.author {
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px;
    transition: 0.2s ease;
}

.author:hover {
    color: #3de23d;
    text-decoration: none;
}

.content {
    position: relative;
    display: block;
    padding: 20px;
    top: -5px;
}

.black-text {
    color: black;
}

/* REVIEWS & RECOMMENDATIONS */

.reviews ul {
    font-family: "Segoe UI", sans-serif;
    padding: 0;
}

.reviews ul li {
    position: relative;
    display: block;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.144);
    margin-bottom: 20px;
    list-style-type: none;
}

.reviews ul li div {
    position: relative;
    display: block;
    background: black;
    padding: 10px;
}

.recommendations {
    margin-top: 20px;
}

/* SLIDER */

.slider {
    font-family: "Segoe UI", sans-serif;
    position: relative;
}

.slider-header {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.slider ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    overflow-x: scroll;
}

.slider ul::-webkit-scrollbar {
    height: 4px;
    background: inherit;
}

.slider ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(180, 180, 180);
}

.slider ul::-webkit-scrollbar-track {
    border-radius: 5px;
}

.slider li {
    padding: 2px;
    max-height: 230px;
    list-style-type: none;
    margin-bottom: 5px;
    transition: 0.2s ease;
}

.slider li:hover {
    transform: scale(0.98, 0.98);
}

.slider li div {
    padding: 5px;
    background: white;
    overflow: hidden;
    border-radius: 3px;
}

.slider li a {
    text-decoration: none;
}

.slider li img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.slider li p {
    color: black;
    margin: 0;
}

.vote-average {
    color: black;
    font-weight: 500;
}

.vote-count {
    display: inline-block;
    color: white;
    margin-bottom: 10px;
}

.slider-star {
    color: rgb(92, 199, 30);
    padding-right: 2px;
}

.slider-rating {
    color: black;
    font-weight: 500;
}

.slider-votes {
    color: black;
}

/* SEARCH */

.query {
    margin: 10px 0;
}

.results {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 80px;
}

.results-item {
    display: grid;
    grid-template-columns: 1fr 10fr;
    max-height: 300px;
    margin-bottom: 20px;
    background: white;
    list-style-type: none;
    text-overflow: ellipsis;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.288);
}

.left {
    width: 200px;
    margin: 0;
    overflow: hidden;
}

.right {
    width: auto;
    margin: 0;
    padding: 10px;
}

.results-poster {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.item-title {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
}

.item-date {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.item-overview {
    margin: 10px;
    text-overflow: ellipsis;
}

.page-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}

.page-nav > * {
    margin: 0 10px;
}

.page-nav a {
    text-decoration: none;
    transition: 0.2s ease;
}

.page-nav a:hover {
    text-decoration: none;
}

/* PEOPLE */

.people-list {
    width: 80%;
    margin: auto;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 70px auto;
    margin-bottom: 0;
}

.list a {
    text-decoration: none;
}

.list a:hover {
    text-decoration: none;
}

.person {
    width: 220px;
    margin: 10px;
    transition: 0.2s ease;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.329);
}

.person:hover {
    transform: scale(0.98);
}

.person img { 
    width: 100%;
}

.person p {
    color: black;
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
}

.pages {
    display: block;
    margin: 0;
}

/* PERSON */

.person-details {
    display: flex;
    width: 75%;
    margin: 80px auto;
    margin-bottom: 0;
}

.info-left {
    display: inline-block;
}

#person-profile {
    height: 400px;
    width: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.459);
}

.info-right {
    min-height: 400px;
    background-color: white;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    margin-top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.267);
}

.info-right .name {
    font-size: 2rem;
}

.birthday {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    margin-top: 10px;
}

.deathday {
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 10px;
}

.external-ids {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    text-align: center;
}

.external-ids .id {
    display: inline;
    margin: 0 5px;
}

.external-ids .id a {
    color: rgb(95, 95, 95);
    font-size: 24px;
    transition: 0.2s ease;
}

.external-ids .id a:hover {
    color: rgb(139, 139, 139);
}

.featured {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}

.featured-header {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.featured ul {
    display: flex;
    flex-direction: row;
    position: inline;
    padding-left: 0;
    overflow-x: scroll;
}

.featured ul::-webkit-scrollbar {
    background: none;
    height: 5px;
}

.fatured ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.featured ul::-webkit-scrollbar-track {
    border-radius: 5px;
}

.featured-object {
    padding: 2px;
    height: 230px;
    list-style-type: none;
    margin-bottom: 5px;
    text-shadow: none;
    transition: 0.2s ease;
}

.featured-object:hover {
    transform: scale(0.98, 0.98);
}

.featured-object a:hover {
    text-decoration: none;
}

.featured-object div {
    position: relative;
    padding: 5px;
    text-shadow: none;
    overflow: hidden;
    border-radius: 3px;
}

.featured-object img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.featured-object div a:hover {
    text-decoration: none;
}

.featured-object p {
    margin: 0;
}

.featured-star {
    color: #2cbe2c;
    padding-right: 2px;
}

.object-rating {
    color: black;
    font-family: "Segoe UI" sans-serif;
    font-weight: 500;
}

.object-votes {
    color: black;
    font-family: "Segoe UI", sans-serif;
}

/* CREDITS PAGE */

.credits-header {
    width: 60%;
    margin: auto;
    margin-top: 80px;
}

.credits-header a {
    text-decoration: none;
}

.cast-and-crew a {
    text-decoration: none;
}

.credits-header div {
    display: inline-block;
}

.credits-poster {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.credits-title {
    font-size: 20px;
    display: inline;
}

.credits-date {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    margin-left: 5px;
}

.credits-head {
    font-size: 30px;
}

.credits-name {
    font-weight: 600;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 10px;
}

.credits-person-name {
    width: 60px;
}

.credits-job-title {
    margin-left: 5px;
}

.credits-crew-person {
    list-style-type: none;
}

.credits-person {
    list-style-type: none;
    height: 100px;
}

.credits-person a {
    height: inherit;
}

.credits-person div {
    display: inline-block;
    height: inherit;
    padding: 10px;
}

.cast-and-crew {
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

.credits-cast {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 100%;
    margin: auto;
}

.credits-cast li {
    display: flex;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.356);
    width: 49%;
    margin: 3px;
}

.credits-cast li img {
    width: auto;
    height: inherit;
}

.crew-name {
    display: inline-block;
    width: 150px;
    margin: 0 10px;
}

.character-name {
    display: block;
}

.credits-director,
.credits-writers,
.credits-cast,
.credits-section {
    margin-bottom: 30px;
}

/* FOOTER */

.footer {
    color: rgb(184, 184, 184);
    font-weight: 100;
    font-size: 12px;
    background: black;
    padding: 10px;
    text-align: center;
}

.footer p {
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 0;
}
