@media only screen and (max-device-width: 1440px) {

    .person {
        max-width: 200px;
    }

}

@media only screen and (max-device-width: 1024px) {

    .person {
        max-width: 150px;
    }

    .person p {
        font-size: 12px;
    }

}

@media only screen and (max-device-width: 900px) {

    .people-list {
        width: 95%;
    }

    .person {
        width: 120px;
        margin: 5px;
    }

    .person p {
        font-size: 10px;
    }

}

@media only screen and (max-device-width: 500px) {

    .person {
        width: 100px;
    }

}

@media only screen and (max-device-width: 360px) {

    .person {
        width: 80px;
    }

}
