@media only screen and (max-device-width: 1024px) {
}

@media only screen and (max-device-width: 900px) {
}

@media only screen and (max-device-width: 800px) {
    .credits-cast {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .credits-name {
        display: block;
        width: 100%;
    }

    .credits-cast li {
        display: block;
        width: 100%;
    }

    .credits-person {
        width: inherit;
        height: inherit;
    }

    .credits-person a img {
        width: 80px;
        height: auto;
    }

    .credits-person div {
        display: inline-block;
        height: inherit;
    }

    .top-crew-name {
        width: 100%;
    }
}

@media only screen and (max-device-width: 600px) {
}

@media only screen and (max-device-width: 570px) {
    .credits-header div {
        margin-bottom: 10px;
    }
}

@media only screen and (max-device-width: 425px) {
    html,
    body {
        width: 100%;
    }
}

@media only screen and (max-device-width: 400px) {
    .credits-header {
        width: 90%;
    }

    .cast-and-crew {
        width: 90%;
    }
}

@media only screen and (max-device-width: 360px) {
}

@media only screen and (max-device-width: 320px) {
}
